@font-face {
  font-family: "icons";
  src: url("icons_660d10f5dcc8849380757251ca1d5568.eot");
  src: url("icons_660d10f5dcc8849380757251ca1d5568.eot?#iefix") format("embedded-opentype"),
       url("icons_660d10f5dcc8849380757251ca1d5568.woff") format("woff"),
       url("icons_660d10f5dcc8849380757251ca1d5568.ttf") format("truetype"),
       url("icons_660d10f5dcc8849380757251ca1d5568.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "icons";
    src: url("icons_660d10f5dcc8849380757251ca1d5568.svg#icons") format("svg");
  }
}

[data-icon]:before {
  display: inline-block;
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

[data-icon="options"]:before { content: "\f102"; }
[data-icon="pencil"]:before { content: "\f101"; }
[data-icon="social-twitter"]:before { content: "\f100"; }
