.data-group
  padding-top: 1em

  .col-md-6
    padding: 0

  &--table
    border-spacing: 0
    margin-top: 1em
    width: 100%
  
  // Specify body so that thead is not selected  
  tbody
    > .data-group--table-row:nth-child(2n + 1)
      background-color: $light-gray
      position: relative

      td
        border-right: 1px solid $light-gray-2

        &:last-child
          border-right: 0

  th
    @extend %bold-title
    color: #bebebe

  th, td
    text-align: left
    min-width: 100px
    position: relative

  &--inner-cell
    max-width: 180px
    word-wrap: break-word
    display: inline-block
    padding: 1em

    > [s-hidden]
      display: none

  input
    +transition
    opacity: 0
    display: none
    width: calc(100% - 2em)
    min-width: 0

    &[s-visible]
      opacity: 1
      display: block

  &--options-button
    top: 0
    bottom: 0
    margin: auto
    right: -2em
    position: absolute
    vertical-align: middle
    display: table
    cursor: pointer

    &:before
      +transition
      color: #a1a1a1

    &:hover:before
      color: $green

    &:after
      +transition(0.3s)
      content: ""
      pointer-events: none
      position: absolute
      height: 1em
      width: 1em
      top: 0
      bottom: 0
      left: 0
      right: 0
      margin: auto
      border:
        width: 0
        style: solid
        color: $green
      box-sizing: border-box
      border-radius: 100%

    &[s-active]:after
      border-width: 0.5em


.data-group-action--content-item
  display: inline-block
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  height: 1em
  margin: auto
  text-align: center

.ghost-data
  $action-group-width: 200px

  position: absolute
  top: 0
  left: 0
  overflow: hidden

  &--table
    border-spacing: 0
    +transition(all 0.25s ease-in-out)

    &[m-background]
      td
        border-right: 1px solid $light-gray-2

        &:last-child
          border-right: 0

    &[s-slide-in]
      transform: translateX(-#{$action-group-width})

  &--actions
    position: absolute
    top: 0
    bottom: 0
    right: -#{$action-group-width}
    width: $action-group-width
    +transition(all 0.25s ease-in-out)

    &[s-slide-in]
      transform: translateX(-#{$action-group-width})

  &--action
    width: 50%
    height: 100%
    float: left
    color: white
    position: relative

    &[m-edit]
      background-color: #2980b9

    &[m-delete]
      background-color: #c0392b

    &-content
      height: 1em
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
      margin: auto
      text-align: center
