.data-group
  padding-top: 1em

  .col-md-6
    padding: 0

  &--table
    border-spacing: 0
    margin-top: 1em
    width: 100%
  
  // Specify body so that thead is not selected  
  tbody
    > .data-group--table-row:nth-child(2n + 1)
      background-color: $light-gray

      td
        border-right: 1px solid $light-gray-2

        &:last-child
          border-right: 0

  th
    @extend %bold-title
    color: #bebebe

  th, td
    text-align: left
    min-width: 100px
    position: relative

  &--inner-cell
    max-width: 180px
    word-wrap: break-word
    display: inline-block
    padding: 1em

    > [s-hidden]
      display: none

  input
    +transition
    opacity: 0
    display: none
    width: calc(100% - 2em)
    min-width: 0

    &[s-visible]
      opacity: 1
      display: block

.data-group-action--content-item
  display: inline-block
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  height: 1em
  margin: auto
  text-align: center

.ghost-data
  position: absolute
  top: 0
  left: 0
  z-index: 1000

  &[m-background]
    td
      border-right: 1px solid $light-gray-2

      &:last-child
        border-right: 0

.ghost-data--delete,
.ghost-data--edit
  border: 0 !important
  border-collapse: collapse !important
  border-spacing: 0 !important
